body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #131313;
    color: white;
}
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}
.sidenav a {
    /* margin-top:px ; */
    padding: 25px 15px;
    /* padding: 10px 15px; */
    text-decoration: none;
    text-align: left;
    font-size: 18px;
    color: #fff;
    display: block;
}
.sidenav a:hover {
    background-color: #3c75e8;
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.content h1 {
    margin-bottom: 20px;
}
.account {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.account h2 {
    margin-top: 0;
}
.account p {
    margin-bottom: 0;
}
