body {
    font-family: Arial, sans-serif;
    background-color:  #121212;
    margin: 0;
    padding: 0;
}
.header {
    background-color:   #121212;
    color: #fff;
    padding: 20px;
    text-align: center;
    color:white;
    font-weight:700;
    letter-spacing: 4px;
}
#cont
{
    margin:10px auto 100px;
    display:flex;
    justify-content: space-evenly;
    align-content: space-around;
}
.logo {
    padding-top: 2%;
    letter-spacing: 4px;
    font-family: 'poppins', sans-serif;
    font-size: 24px;
}
.container {
    color: white;
    margin:50px auto 20px;
    padding-bottom: 20%;
    width: 100%;
    max-width: 400px;
    background-color: #f3f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px  #131313;
    margin-top: 50px;
    justify-content: center;
    margin-left: 200px;
    /* border: 4px solid green; */
    backdrop-filter: blur(16px) saturate(180%);
   -webkit-backdrop-filter: blur(16px) saturate(180%);
background-color: rgba(17, 25, 40, 0.75);
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.125);
}
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: px;
    box-sizing: border-box;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #017019;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}
/*input[type="submit"]:hover {
    
    background-color: #017019;
   
}*/
/* input[type="submit"]:hover {
    background-color: #0056b3;
}*/
.footer {
    background-color:  #121212;
    color: gray;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 13px;
}

.forgot:hover{
    color: rgb(6, 0, 92);
    cursor: pointer;
}
.forgot{
text-align: center;
padding-top: 0.2px; 
color: rgb(50, 11, 242);
text-decoration: underline;
} 
.signup{
color: rgb(50, 11, 242);
text-decoration: underline;
}
.signup:hover{
    color: rgb(6, 0, 92);
    cursor: pointer;
}
.links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.login{
font-style: roboto;
}
#pic
{
    padding: 20px;
    margin: 20px auto;
    width:30%;
    /* height: 150px; */
    /* border: 1px solid green; */
    /* background-color: red; */
}